body {
    color: white;
    background: black;
    margin: 0px;
    font-family: 'Chakra Petch', sans-serif;
    margin-bottom: 85px;

}

header {
    border-bottom: solid 2px blue;
    padding: 20px;
    font-size: 32px;
    color: #00ced1;
}

.chamada {
    background: #483d8b;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    

}


.chamada-texto {
    margin-right: 5%;
}


img {
    height: 200px
}

.categoria-video {
    display: flex;
    overflow-x: auto;
    gap: 10px;

}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
    margin-top: 40px;
}

.categoria-video img {
    opacity: 0.5;
}

.categoria-video img:hover {
    opacity: 1;
    border: 2px solid rgb(221, 113, 221);
}

.categoria h2 {
    color:rgb(46, 46, 255);
}

